.col {
    background-color: darkgrey;
    height: 200px;
    width: 250px;
    color:rgb(51, 102, 255);
    font-size: 120px;
    margin: 10px;
}

.adjustme{
    background-color:darkgrey;
    width: 810px;
    border: 5px rgb(0, 0, 153) solid;
}

div .semicolon{
    color: rgb(51, 102, 255);
    padding: 0px;
    margin: 0px
}